
body{
  /* background-color: black;
  color: #fff; */

}
.default_style{
 align-items: center;
 justify-content: center;
 height: 100%;
}
.loader_width{
  height: 90vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inputs{
  margin-bottom: 20px!important;
}

